apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
  namespace: frontend
data:
  default.conf: |
    server {
        listen 80;
        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;
            try_files $uri $uri/ /index.html;
        }
        # Proxy reverso para o backend
        location /api/ {
            proxy_pass http://backend-service.backend.svc.cluster.local:3001;
        }
    }